{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

    <div align="center">
        <h1>Catalog</h1>
    </div>
    {% include "flash.html" %}

    <div class="row" style="background-color:lightgray">
        <div class="col">
                <strong>Categories:</strong><br>
		    {% for i in categories %}
        <div>
            <a href='{{url_for('categoryDetails', category_id = i.id)}}'>{{i.name}}</a>
        </div>
        </br>
        {% endfor %}
        </div>
      
        <div class="col">
            <strong>Latest added items:</strong><br>
            {% for item,cat in theList %} 
            <div>
                <a href='{{url_for('itemDetails', category_id = cat.id, item_id = item.id)}}'>{{item.title}}</a><a> in <strong>{{cat.name}}</strong></a>
            </div>
        </br>
        {% endfor %}
        <div>
            <a class="btn btn-success btn-xs" role="button" href='{{url_for('newItem' ) }}'>Add Item</a></br>
        </div>
        </div>
    </div>

{% endblock %}