{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
        <h1>Editing {{ item.title }}</h1>
        <form action='{{ url_for('editItem', category_id = category.id, item_id = item.id ) }}' method = 'post'>
            <input type ='text' size='30' name='title' value = '{{item.title }}'><br>
            <textarea type ='text' size='600' name='description' value = '{{item.description }}'></textarea><br>
            <Select name = 'category'>
                <option value="1">Football</option>
                <option value="2">Movies</option>
                <option value="3">Smartphones</option>
                <option value="4">Geography</option>
                <option value="5">Celebrities</option>
                <option value="6">Cars</option>
            </Select>
            <input type='submit' value='Edit'>
        </form>
{% endblock %}