{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div>
        <br>
        <a class="btn btn-primary" href='{{url_for('categoryDetails', category_id = category.id) }}'>Go back to {{category.name}}</a>
        <div style="background-color:lightgray">
            <div>
                <h1>{{item.title}}</h1>
            </div>
            <div>
                {% include "flash.html" %}
            </div>
            <div style="background-color:lightgray">
                {{item.description}}
            </div>
            <div style="background-color:lightgray">
                    <a href='{{url_for('editItem', category_id = category.id, item_id=item.id ) }}'>Edit</a> |
                    <a href='{{url_for('deleteItem', category_id = category.id, item_id=item.id ) }}'>Delete</a>
            </div>
        </div>
    </div>
{% endblock %}