<html>
	<body>
	<div>
        <a href='{{url_for('categoryDetails', category_id = category.id) }}'>Go back to {{category.name}}</a>
		<div>
		    <h1>{{item.title}}</h1>
	    </div>
        <div>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
        </div>
        <div>
            {{item.description}}
        </div>
        <div>
                <a href='{{url_for('editItem', category_id = category.id, item_id=item.id ) }}'>Edit</a>
                <a href='{{url_for('deleteItem', category_id = category.id, item_id=item.id ) }}'>Delete</a>
        </div>

    </div>

</div>
	</body>
</html>